#----------------------------------------------> Activation PHP6 pour 1and1
#AddType x-mapp-php6 .php .php3 .php4 .htm .html
#AddHandler x-mapp-php6 .php .php3 .php4 .htm .html

#----------------------------------------------> Activation du module RewriteEngine 
RewriteEngine On
Options +FollowSymLinks
RewriteBase /
#----------------------------------------------> Fin de l'activation de RewriteEngine

#----------------------------------------------> Rwrite des URL

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)?(.*)?$ index.php?classe=$1 [L]
